.authorsList {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid #bc4404;
    border-radius: 4px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.authorsListItem {
    background-color: #fefaef;
    border-radius: 3px;
    margin: 2px;
    color: black;
    border-bottom: 1px solid #eeee0b;
}

.authorsListHeader {
    text-align: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.authorsListHeaderItem {
    background-color: #bc4404;
    border: solid 3px #fefaef;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
}

.authorsListFooter {
    background-color: #bc4404;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 2px;
}

.authorsInfoItem {
    color: black;
    width: 20%;
}

.authorsInfoSpace {
    margin: 2px;
    border-radius: 9px;
    color: black;
}

.contextAuthorOp {
    font-weight: 800;
    cursor: pointer;
    border: 3px solid #fefaef;
    border-radius: 15px;
    margin: 5px;
    color: #103755;
    min-width: 150px;
}

.contextAuthorOp.above {
    background-color: #fefaef;
    color: #4e3f30;
    border: 3px solid #4e3f30;
}