.authorsList {
    display: inline-flex;
    flex-direction: column;
}

.authorsListItem {
    background-color: lightblue;
    border-radius: 3px;
    margin: 2px;
    color: black;
}

.authorsInfoItem {
    color: black;
    width: 20%;
}

.authorsInfoSpace {
    margin: 2px;
    border-radius: 9px;
    color: black;
}