.textListItem {
    padding-left: 5px;
}

.textList {
    text-align: left;
}

.textListEditItem {
    background-color: #fefaef;
    border: 1px solid lightgrey;
    padding: 5px;
    font-weight: 500;
    min-height: 36px;
    width: 100%;
}

.textListEditItem.selected {
    background-color: #103755;
    color: white;
}

.textListEdit {
    text-align: left;
    overflow: auto;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    min-height: 50px;
    max-height: 125px;
    width: 100%;
}

.mainWidth {
    width: 100%;
}

.listEditBtnsColumn {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    height: 50%;
    padding-bottom: 5px;
}

.listEditBtn {
    margin: 3px;
    min-width: 85px;
}