.booksList {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid #027077;
    border-radius: 4px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.booksListItem {
    background-color: #fefaef;
    border-radius: 3px;
    margin: 2px;
    color: black;
    border-bottom: 1px solid #eeee0b;
    height: 47px;
}

.booksListItem.secondary {
    background-color: white;
}

.booksListHeader {
    text-align: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.booksListHeaderItem {
    background-color: #027077;
    border: solid 3px #fefaef;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
}

.booksListFooter {
    background-color: #027077;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 2px;
}

.booksInfoItem {
    color: black;
    width: 20%;
}

.booksInfoSpace {
    margin: 2px;
    border-radius: 9px;
    color: black;
}

.contextBookOp {
    font-weight: 800;
    cursor: pointer;
    border: 3px solid #fefaef;
    border-radius: 15px;
    margin: 5px;
    color: #103755;
    min-width: 150px;
}

.contextBookOp.above {
    background-color: #fefaef;
    color: #4e3f30;
    border: 3px solid #4e3f30;
}