.booksList {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid #027077;
    border-radius: 4px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.booksListItem {
    background-color: #fefaef;
    border-radius: 3px;
    margin: 2px;
    color: black;
    border-bottom: 1px solid #eeee0b;
}

.booksListHeader {
    text-align: center;
    align-items: center;
    color: white;
}

.booksInfoHeader {
    background-color: #027077;
    border: solid 3px #fefaef;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
}

.booksInfoItem {
    color: black;
    width: 20%;
}

.booksInfoSpace {
    margin: 2px;
    border-radius: 9px;
    color: black;
}