.bookShape {
    border: solid 5px #027077;
    border-radius: 15px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    background-color: #f8f4e4;
}

.bookShapeHeader {
    display: inline-flex;
    flex-direction: row;
}

input {
    background-color: white;
    color: black;
}

.textInput {
    background-color: white;
    color: black;
}

.icons-right {
    display: inline-flex;
    flex-direction: column;
}

.book-info {
    background-color: #027077;
    border: 4px #027077 solid;
    border-radius: 10px;
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    color: white;
}

.book-info-label {
    margin: 2px;
    font-weight: 700;
    text-align: right;
}

.book-year-label {
    background-color: white;
    color: black;
}