.bookShape {
    border: solid 5px blue;
    border-radius: 15px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
}

.bookShapeHeader {
    display: inline-flex;
    flex-direction: row;
}

input {
    background-color: white;
    color: black;
}

.textInput {
    background-color: white;
    color: black;
}

.icons-right {
    display: inline-flex;
    flex-direction: column;
}

.book-info {
    background-color: blue;
    border: 4px blue solid;
    border-radius: 10px;
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    color: white;
}

.book-info-label {
    margin: 2px;
    font-weight: 700;
    text-align: right;
}

.fieldCurrent {
    display: inline;
    text-align: left;
    background-color: white;
}

.book-year-label {
    background-color: white;
    color: black;
}