.usersList {
    display: inline-flex;
    flex-direction: column;
    border: 2px solid #bc4404;
    border-radius: 4px;
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.usersListItem {
    background-color: #fefaef;
    border-radius: 3px;
    margin: 2px;
    color: black;
    border-bottom: 1px solid #eeee0b;
}

.usersListHeader {
    text-align: center;
    align-items: center;
    color: white;
}

.usersInfoHeader {
    background-color: #bc4404;
    border: solid 3px #fefaef;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    color: white;
}

.usersInfoItem {
    color: black;
    width: 20%;
}

.usersInfoSpace {
    margin: 2px;
    border-radius: 9px;
    color: black;
}

.contextUserOp {
    font-weight: 800;
    cursor: pointer;
    border: 3px solid #fefaef;
    border-radius: 15px;
    margin: 5px;
    color: #103755;
}

.contextUserOp.above {
    background-color: #fefaef;
    color: #4e3f30;
    border: 3px solid #4e3f30;
}