.picture {
    display: inline-flex;
    width: 240px;
    height: 320px;
    border: white 2px dashed;
    margin: 3px;
}

.ctrlHidden {
    display: none;
}

.fieldCurrent {
    display: inline;
    text-align: left;
    background-color: white;
    color:black;
}

.fieldSubmit {
    display: inline;
    text-align: center;
    padding: 2px;
}