.picture {
    display: inline-flex;
    width: 240px;
    height: 320px;
    border: #ffdf8c 2px dashed;
    margin: 3px;
}

.pictureSrc {
    width: 100%;
    height: 100%;
    margin: 1px;
}

.ctrlHidden {
    display: none;
}

.fieldCurrent {
    display: inline;
    text-align: left;
    background-color: white;
    color: black;
}

.fieldSubmit {
    display: inline;
    text-align: center;
    padding: 2px;
}