.authorLookupTable {
    width: 321px;
    position: relative;
    display: inline;
}

.importLookupAuthorsTable {
    flex-direction: column;
    position: flex;
    display: inline-block;
    width: 100%;
    height: 100%;
}