.authorLookupTable {
    width: 321px;
    position: relative;
    display: inline;
}

.importLookupAuthorsTable {
    flex-direction: column;
    position: flex;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cap-text-authors {
    text-align: center;
    width: 91%;
}

.cap-exit-authors {
    color: white;
    width: 9%;
    cursor: pointer;
    border-left: 2px white dotted;
}