.authorShape {
    border: solid 5px #bc4404;
    border-radius: 15px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    background-color: #f8f4e4;
}

.authorShapeHeader {
    display: inline-flex;
    flex-direction: row;
}

.bookSelector {
    display: inline-flex;
    flex-direction: row;
}

.textInput {
    background-color: white;
    color: black;
}

.author-info {
    background-color: #bc4404;
    border: 4px #bc4404 solid;
    border-radius: 10px;
    margin: 2px;
    display: inline-flex;
    flex-direction: column;
    color: #eeee0b;
    min-width: 400px;
}

.highBooks {
    min-height: 150px;
}

.author-info-label {
    margin: 2px;
    font-weight: 700;
    text-align: right;
}

.author-year-label {
    background-color: white;
    color: black;
}