.authorShape {
    text-align: left;
    font-size: xx-large;
    border: solid 5px blue;
    border-radius: 15px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
}

.authorShapeHeader {
    display: inline-flex;
    flex-direction: row;
}

.picture {
    width: 240px;
    height: 320px;
    border: black 1px solid;
}

.icons-right {
    display: inline-flex;
    flex-direction: column;
}

.author-info {
    position: relative;
    background-color: lightblue;
}

.author-year-label {
    background-color: white;
    color: black;
}