.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

nav {
height: 50px;
width: 100%;
background-color: gray;
position: fixed;
z-index: 50;
display: flex;
align-items: center ;
}

main {
  padding: 50px;

}

p {
  margin: 20px;
}

.burger-btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.burger-btn:before {
    content:'';
    position: absolute;
    top: 0;
    width: 30px;
    background-color: black;
    height: 2px;
  }

.burger-btn:after {
  content:'';
  position: absolute;
  bottom: 0;
  width: 30px; 
  background-color: black;
  height: 2px;
}

.open-btn {
  background-color: brown;
}